/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: orangered;
    text-transform: uppercase;
    margin: 2rem;
}

img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.container {
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
}

.col {
    margin: 1rem;
}

.car_card {
    width: 400px;
    height: 500px;
    text-align: center;
    background-color: lightsalmon;
    border-radius: 20px;
}

.little_text {
    text-transform: uppercase;
    margin: 20px;
}
    
    